<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.eelection">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="donut">
        <activity android:name=".Home.ContactUsActivity">
        </activity>
        <activity android:name=".MyAccount.MyActivityActivity">
        </activity>
        <activity android:name=".VideoActivity">
        </activity>
        <activity
                android:name=".ZoomActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity android:name=".LoginReister.GetLocationActivity">
        </activity>
        <activity android:name=".LoginReister.MobileVerificationActivity">
        </activity>
        <activity android:name=".LoginReister.AadhaarNumberActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Videos.VideoDisplayActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".Home.Location.GetUsersLocationActivity"
                android:label="@string/title_activity_get_users_location"
                android:windowSoftInputMode="stateVisible"/>
        <activity android:name=".Home.Location.AddAddressActivity"/>
        <activity android:name=".Home.ElectionActivity"/>
        <activity
                android:name=".Home.Location.MarkYourLocationActivity"
                android:label="@string/title_activity_mark_your_location"/>
        <activity android:name=".Home.BottomNaviagtionDrawer">
        </activity>
    </application>

</manifest>